/* Grid layout developed with https://grid.layoutit.com/ */
.index_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 300px 400px 400px 100px;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav"
    "banner banner"
    "box1 box2"
    "box3 box4"
    "footer footer";
}


/* Formatting for the navigation bar */
nav { 
  grid-area: nav; 
  font-family: 'Open Sans Condensed', sans-serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.banner { 
  grid-area: banner; 
  background-color: rgb(141,202,117);
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.banner h2 {
  color: white
}
.banner h3 {
  color: rgb(88, 88, 88);
}
.banner h4 {
  color: rgb(91, 6, 25);
}
.banner p {
  color: rgb(100, 100, 100);
}

.box1 { 
  grid-area: box1; 
  background-color: rgb(235,235,235);
  margin: 20px 10px 10px 50px;
  }
.box2 { 
  grid-area: box2; 
  background-color: rgb(235,235,235);
  margin: 20px 50px 10px 10px;
}
.box3 { 
  grid-area: box3; 
  background-color: rgb(235,235,235);
  margin: 10px 10px 20px 50px;
}
.box4 { 
  grid-area: box4;
  margin: 10px 50px 20px 10px; 
}
footer { 
  grid-area: footer; 
  background-color: rgb(141, 202, 117);
}

.footer_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px 0px;
  grid-template-areas:
    "footer1 footer2 footer3"
}

.footer1 { grid-area: footer1; }
.footer2 { grid-area: footer2; }
.footer3 { grid-area: footer3; }