
/* General formatting */

* {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
h2 {
  font-size: 20px;
  margin-bottom: 0px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
p {
  font-size: 14px;
}
hr {
  margin-top: 3px;
  margin-bottom: 10px;
  color: darkgreen;
  background-color: darkgreen;
  border-width: 0px;
  height:3px;
}

/* Grid layout developed with https://grid.layoutit.com/ */
.index_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav"
    "banner banner"
    "box1 box2"
    "box3 box4"
}
@media only screen and (max-width: 900px) {
  .index_Grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto auto;
    gap: 0px;
    grid-template-areas:
      "mobileNav"
      "banner"
      "box1"
      "box2"
      "box3"
  }
}

/* Formatting for the navigation bar */
.nav { 
  grid-area: nav; 
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 0px;
  height: auto;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.nav li {
  float: right;
}

.nav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

.nav ul li:first-of-type a {
  padding: 0px;
}

/* Change the link color to light grey on hover */
.nav li a:hover {
  background-color: #EEE;
}
/* Except for the support us button */
.nav ul li:nth-of-type(3) a:hover {
  background-color: maroon;
}
.nav ul li:first-of-type a:hover, .nav ul li:nth-of-type(2) a:hover {
  background-color: white;
}

.mobileNav {
  grid-area: mobileNav;
  margin: 0px;
}
.mobileNav div {
  display: block;
  margin: auto;
}
.mobileNav a {
  text-decoration: none;
  background-color: white;
  font-size: 16px;
  display: block;
  color: black;
  margin: auto;
  padding: 5px;
  text-align: center;
}
.mobileNav img {
  display: block;
  margin: auto;
}
.mobileNav button {
  background-color: white;
  font-size: 16px;
  display: block;
  border: 0px;
  margin: auto;
}
/* Change the link color to light grey on hover */
.mobileNav a:hover {
  background-color: #EEE;
}
.mobileNav button:hover {
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .nav {
    display: none;
  }
  .moblileNav {
    display: block;
  }
}
@media not screen and (max-width: 900px) {
  .nav {
    display: block;
  }
  .mobileNav {
    display: none;
  }
}

/* Formatting for the banner */
.banner { 
  grid-area: banner; 
  background-color: rgb(141,202,117);
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  display: block;
  margin: 0px;
  height: auto;
}

.bannerGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "phone1 phone2";
}

.phone1 { 
  grid-area: phone1; 
  max-width: 300px;
  margin: 20px 80px 10px auto;
}

.phone2 { 
  grid-area: phone2; 
  max-width: 300px;
  margin: 20px auto 10px 80px;
}
.banner h2 {
  color: white
}
.banner h3 {
  color: rgb(88, 88, 88);
}
.banner h4 {
  color: rgb(91, 6, 25);
}
.banner p {
  color: rgb(100, 100, 100);
}
.banner span {
  display: inline;
}

@media only screen and (max-width: 900px) {
  .bannerGrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 0px 0px;
    grid-template-areas:
      "phone1"
      "phone2"
  }
  .banner, .phone1, .phone2 {
    width: 100%;
    margin: auto;
  }
}


/* Formatting for the index text boxes */
.box1 { 
  grid-area: box1; 
  background-color: rgb(235,235,235);
  margin: 20px 10px 10px auto;
  text-align: center;
  max-width: 440px;
  padding: 20px;
}
.box1 figure, .box1 figcaption {
  margin: auto;
  font-size: 12px;
}
.box1 img {
  width: 420px;
  height: auto;
}


.box2 { 
  grid-area: box2; 
  background-color: rgb(235,235,235);
  margin: 20px auto 10px 10px;
  width: 440px;
  padding: 0px 10px 5px 10px;
}
.box2 table {
  margin:10px;
  border-collapse: collapse;
}
.box2 td {
  border-bottom: 1px solid black; 
  border-top: 1px solid black;
}
.box2 td, .box2 tr {
  padding: 0px 5px 5px 5px;
}
.box2 tr:nth-of-type(even) {
  background-color: #EEE;
}
.box2 p {
  padding:0px 10px;
}
.box2 button {
  background-color: rgb(141, 202, 117);
  border: none;
  color: white;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin: 8px auto 0px auto;
}
.box2 button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.box3 { 
  grid-area: box3; 
  background-color: rgb(235,235,235);
  margin: 10px 10px 20px auto;
  width: 440px;
  padding: 0px 10px 20px 10px;
}
.box3 p {
  margin: 0px;
  margin-left: 5px;
}
.box3 h3 {
  margin-bottom: 3px;
  margin-left: 5px;
}
.box4 { 
  grid-area: box4;
  margin: 10px auto 20px 10px; 
  width: 440px;
}

@media only screen and (max-width: 900px) {
  .box1, .box2, .box3 {
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
  }
}


/* Formatting for the "get involved" page */
.getInvolved {
  max-width: 900px;
  margin: auto;
}
.form {
  background-color: #EEE;
  max-width: 800px;
  margin: auto;
  padding: 10px 20px;
}
.form p {
  padding: 0px 10px;
}
.banner img {
  max-width: 100%;
}
.form div {
  margin: 0px;
}
.form table {
  table-layout: fixed;
}
.form em {
  padding-left: 10px;
  font-size: 10px;
}



/* Formatting for "wildlife help" page */
.wildlifeHelp
{
  max-width: 900px;
  margin: auto;
  margin-top: 10px;
  margin-bottom:10px;
}
.wildlifeHelp img {
  margin: 10px;
  height: 200px;
}
.wildlifeHelp #help1 {
  min-height: 220px;
}
.wildlifeHelp div:nth-child(3), .wildlifeHelp div:nth-child(4){
  background-color: #EEE;
}
.wildlifeHelp p{
  margin:0px;
  padding: 10px;
}
.wildlifeHelp div:nth-child(odd) {
  margin-top: 10px;
  padding: 5px 10px;
}
.wildlifeHelp h2 {
  margin: 0px;
  display: inline;
}
.wildlifeHelp button {
  float: right;
  border: none;
  background-color: white;
}
.wildlifeHelp div:nth-child(3) button {
  background-color: #EEE;
}
.wildlifeHelp button:hover {
  cursor: pointer;
}

/* Formatting for the About page */
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 0px 0px;
  grid-template-areas:
    "aboutAside about1"
    "aboutAside about2";
}
.aboutAside { 
  grid-area: aboutAside;
  background-color: rgb(235,235,235);
  margin: 20px 10px 10px auto;
  text-align: center;
  width: 440px;
  padding: 10px;
}
.aboutAside figure, .aboutAside figcaption {
  margin: auto;
  font-size: 12px;
}
.aboutAside img {
  width: 420px;
  height: auto;
  margin: auto;
}
.about1 { 
  grid-area: about1; 
  background-color: rgb(235,235,235);
  margin: 20px auto 10px 10px;
  width: 440px;
  padding: 0px 15px 5px 15px;
}
.about1 h2 {
  text-align: center;
}
.about1 em {
  text-align: center;
}
.about2 { 
  grid-area: about2; 
  background-color: rgb(235,235,235);
  margin: 20px auto 10px 10px;
  width: 440px;
  padding: 0px 15px 5px 15px;
}
.about2 h2 {
  text-align: center;
}
.about2 em {
  text-align: center;
}

@media only screen and (max-width: 900px) {
  .about {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    gap: 0px;
    grid-template-areas:
      "about1"
      "aboutAside"
      "about2"
  }
  .aboutAside, .about1, .about2 {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}




/* Formatting for the footer */
footer { 
  grid-area: footer; 
  background-color: rgb(141, 202, 117);
  text-align: center
}

.footer_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px 0px;
  grid-template-areas:
    "footer1 footer2 footer3"
}
footer button {
  background-color: rgb(91, 6, 25); /* Green */
  border: none;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  display: inline-block;
  font-size: 16px;
}
footer button:hover {
  background-color: maroon;
  cursor: pointer;
}
footer i, footer a {
  font-size: 26px;
  text-decoration: none;
  color: maroon;
}
footer a img {
  height: 30px;
  width: auto;
}
.footer1 { grid-area: footer1; }
.footer2 { grid-area: footer2; }
.footer3 { grid-area: footer3; }
.footerMobile {
  grid-area: footerMobile;
  display: none;
}

@media only screen and (max-width: 900px) {
  .footer_Grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px;
    grid-template-areas:
      "footerMobile"
  }
  .footer1 { 
    grid-area: footer1;
    display: none;
  }
  .footer2 { 
    grid-area: footer2; 
    display: none;
  }
  .footer3 { 
    grid-area: footer3;
    display: none; 
  }
  .footerMobile {
    grid-area: footerMobile;
    margin: 20px;
    display: block;
  }
}