/* Grid layout developed with https://grid.layoutit.com/ */
.index_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 300px 400px 400px 100px;
  gap: 0px 0px;
  grid-template-areas:
    "nav nav"
    "banner banner"
    "box1 box2"
    "box3 box4"
    "footer footer";
}

/* Formatting for the navigation bar */
nav { 
  grid-area: nav; 
  font-family: 'Open Sans Condensed', sans-serif;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

li {
  float: right;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li:first-of-type a {
  padding: 0px;
}

/* Change the link color to light grey on hover */
li a:hover {
  background-color: #EEE;
}
/* Except for the support us button */
ul li:nth-of-type(3) a:hover {
  background-color: maroon;
}

/* Formatting for the banner */
.banner { 
  grid-area: banner; 
  background-color: rgb(141,202,117);
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
}
.banner h2 {
  color: white
}
.banner h3 {
  color: rgb(88, 88, 88);
}
.banner h4 {
  color: rgb(91, 6, 25);
}
.banner p {
  color: rgb(100, 100, 100);
}
.banner span {
  display: inline;
}

/* Formatting for the index text boxes */
.box1 { 
  grid-area: box1; 
  background-color: rgb(235,235,235);
  margin: 20px 10px 10px auto;
  text-align: center;
  max-width: 600px;
  }
.box1 img {
  max-width: 90%;
  height: auto;
}

.box2 { 
  grid-area: box2; 
  background-color: rgb(235,235,235);
  margin: 20px auto 10px 10px;
  width: 600px;
}
.box3 { 
  grid-area: box3; 
  background-color: rgb(235,235,235);
  margin: 10px 10px 20px auto;
  width: 600px
}
.box4 { 
  grid-area: box4;
  margin: 10px auto 20px 10px; 
  width: 600px;
}



/* Formatting for the "get involved" page */
.form {
  background-color: lightgray;
  width: 1000px;
  padding: auto;
}




/* Formatting for the footer */
footer { 
  grid-area: footer; 
  background-color: rgb(141, 202, 117);
  text-align: center
}

.footer_Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px 0px;
  grid-template-areas:
    "footer1 footer2 footer3"
}

footer button {
  background-color: rgb(91, 6, 25); /* Green */
  border: none;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  margin: auto;
  display: block;
  font-size: 16px;
}
footer button:hover {
  background-color: maroon;
  cursor: pointer;
}
.footer1 { grid-area: footer1; }
.footer2 { grid-area: footer2; }
.footer3 { grid-area: footer3; }